.convert-wrapper
{
    background: rgba(51, 54, 216, 0.877);
    border-radius: 15px 15px 0px 0px;
    padding: 10px 32px 30px;
}
.convert-wrapper h1
{
    color: white;
    font-size: 50px;
}
.convert-wrapper .content
{    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#amountInput
{
    box-sizing: border-box;
    color: rgb(0, 34, 114);
    font-size: 15px;
    height: 60px;
    padding-left: 20px;
    width: 350px;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
    margin-right: 20px;
}
#currency1, #currency2
{
    background-color: #fff;
    caret-color: #002272;
    color: #002272;
    cursor: pointer;
    border-width: 0;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    overflow-y: hidden;
}
#exchangeCurrencyBtn{
    margin-left: 40px;
    margin-right: 40px;
    padding:20px;
    background-color: yellow;
    border-radius: 30%;
    margin-top: 100px;
}
#convertCurrencyBtn{
    height:60px;
   
    margin-left: 30px;
    max-width: 60px;
    min-width: 0px;
    margin: 0px;
    font-size: inherit;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.03em;
    color: rgb(0, 34, 114);
    /* -webkit-box-align: center; */
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
    transition: margin-right 2s ease-in-out;
    padding: 14px 10px;
    background: rgb(252, 184, 19);
    border-radius: 10px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
#demo
{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: white;
}